* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

header .header-items {
	display: flex;
}

header .header-items .header-item, .logo {
	padding: 1em 2em;
}

a {
	text-decoration: none;
	color: #121212;
	text-transform: uppercase;
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 100px;
	font-weight: 500;
	line-height: 90%;
	text-align: center;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
}

.slide-in {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: red;
	transform-origin: bottom;
}

.slide-out {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #0f0f0f;
	transform-origin: top;
}