.backgroundImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 220vh;
    filter: brightness(60%);
}

.backgroundImage img {
    object-fit: cover;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32vh;
}

.intro .introText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.introText h1 {
    color: #dcdcdc;
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.introText p {
    color: #dcdcdc;
    font-size: 2vw;
}

.introImage {
    position: absolute;
    width: 256px;
    height: 400px;
    filter: brightness(69%);
}

.introImage img {
    object-fit: cover;
    object-position: top;
}