:root {
  --main: #5931e9;
  --dark: #121212;
  --grey: #444;
  --light: #dcdcdc;
}

body {
  background: var(--grey);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 256px;
  background-color: var(--dark);
  padding: 2rem;
  border-radius: 16px;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}
