@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #dcdcdc;
  font-family: "Belleza", serif;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
   display: flex;
}

.logo, .nav-item {
  font-size: 1.25rem;
  margin: 2em;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #dcdcdc;
  transition: .2s ease;
}

a:hover {
  color: cadetblue;
}

.logo a {
  font-weight: 600;
}

.nav-links a {
  font-weight: 300;
}