@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --font-serif: "DM Serif Display";
  --font-sans: "DM Sans";
  --color-primary: #6b7a8f;
  --color-secondary: #101118;
  --color-accent: #1d1f2f;
  --color-focus: #6d64f7;
  --base-duration: 500ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--color-secondary);
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-serif), sans-serif;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: abs($number: 0);
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
}

// Icons
.icon {
  fill: var(--color-primary);
  width: 100%;
}

// Buttons
.btn {
  background-color: var(--color-primary);
  color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
  border: none;
  border-radius: 0.125rem;

  &:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }

  &:active {
    transform: translateY(1px);
  }
}

// Slider Controls
.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;

  .btn {
    --size: 3rem;

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border-radius: 100%;

    &:focus {
      border-color: var(--color-focus);
      outline: none;
    }

    &--previous > * {
      transform: rotate(180deg);
    }
  }
}

// Slider
.slider {
  --slide-size: 64vmin;
  --slide-margin: 8vmin;

  width: var(--slide-size);
  height: var(--slide-size);
  position: relative;
  margin: 0 auto;
}

.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: tranform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
}

// Slide
.slide {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;

  &--previous,
  &--next {
    &:hover {
      opacity: 0.5;
    }
  }

  &--previous {
    cursor: w-resize;

    &:hover {
      transform: translateX(2%);
    }
  }

  &--next {
    cursor: e-resize;

    &:hover {
      transform: translateX(-2%);
    }
  }
}

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;

  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }
  }
}

.slide__image-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  overflow: hidden;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
}

.slide__image {
  --d: 20;

  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);

  @media (hover: hover) {
    .slide--current & {
      transform: translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      );
    }
  }
}

.slide__headline {
  position: relative;
  font-size: 8vmin;
  font-weight: 600;
}

.slide__content {
  --d: 60;

  position: relative;
  opacity: 0;
  padding: 4vmin;
  transition: transform var(--base-duration) var(--base-ease);

  .slide--current & {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;

    @media (hover: hover) {
      transform: translate(
        calc(var(--x) / var(--d) * -1px),
        calc(var(--y) / var(--d) * -1px)
      );
    }
  }

  > * + * {
    margin-top: 2rem;
  }
}

// Animation

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
